CONFIG_ESP_WIFI_CSI_ENABLED=y
CONFIG_ESPTOOLPY_BAUD_921600B=y
CONFIG_ESPTOOLPY_BAUD=921600
CONFIG_ESP_CONSOLE_UART_BAUDRATE=921600

# EAGLE-Δ CSI Node Defaults
CONFIG_ESP_CSI_NODE_ID=3
CONFIG_ESP_WIFI_SSID="BAPU_07"
CONFIG_ESP_WIFI_PASSWORD="Bapu@2005"

# Recommended for CSI applications
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ=240
CONFIG_COMPILER_OPTIMIZATION_PERF=y

# HTTP client and JSON support
CONFIG_ESP_HTTP_CLIENT_ENABLE=y
CONFIG_JSON_ENABLE=y
